.one{
    color:brown;
    /* background-color: darkmagenta; */
    font-size: large;
    line-height: 1.5;
    font-family: monospace;
    border:3px solid black;
}
.two{
    color: coral;
    background-color: azure;
}
#InlineText{
    color: darkblue;
    text-transform: uppercase;
}