body {
    text-align: center;
}
.block {
    background: blueviolet;
    color: aliceblue;
    width: 300px;
    margin: 2px auto;
    /* margin-left: auto; */
    /* display: inline; */
}

.inline {
    background: palevioletred;
    color: blue;
    /* display: block; */
}

.check {
    background: pink;
    color: brown;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 200px;
    /* text-align: left; This is not working why */
}

/* Inline block */
.iblock {
    background: gold;
    color: red;
    width: 40px;
    height: 40px;
    margin: 40px 40px;
    display: inline-block;
}

.tank p{
    background: gray;
    margin: 20px;
    width: 500px;
}

.none {
    display: none;
}

.opacity-1 {
    opacity: 1;
    /* Nothing's gonna change */
}

.opacity-0 {
    opacity: 0;
}

.opacity-5 {
    opacity: 0.5;
}

.visibility {
    visibility: hidden;
}