* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar li {
    list-style-type:none;
}

.navbar li a {
    color: palevioletred;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    background: aqua;
    padding: 5px;
    /* margin: 10px 10px; */
}

